
.home-container {
  border-radius: 5px;
  background: #242423;
  color: #E8EDDF;
  box-shadow:  15px 15px 30px #333533, -15px -15px 30px #CFDBD5;
  margin-top: 30px;
  font-family: 'Outfit', sans-serif;
  padding: 20px;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 50px;
}

.home-undertitle {  
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 25px;
}