.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #e0e0e0;
  box-shadow:  25px 25px 15px #707070;
  color: #1f1f1f;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

h3 {
  font-size: 50px;
  border-left: solid 3px #F7C73F;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-texts {
  display: flex;
  flex-direction: row;
  width: 30;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: #1f1f1f;
  box-shadow:  5px 5px 0px #707070,
             -5px -5px 0px #ffffff;
}

img {
  width: 80px;
  overflow: hidden;
  transform: translatey(0px);
  margin: 20px;
}

.floating {
  animation: float 1s ease-in-out infinite;
}

p {
  border-radius: 10px;
  margin: 20px;
  background: #1f1f1f;
  box-shadow:  5px 5px 0px #707070,
             -5px -5px 0px #ffffff;
  color: #F7C73F;
  padding: 10px;
  font-size: 22px;
  transition: 0.5s;
  text-align: center;
}

p:hover {
  background-color: #F7C73F;
  color: #1f1f1f;
}

.hover {
  background-color: #F7C73F;
  color: #1f1f1f;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(+15px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media(max-width: 1040px){

.skills-container {
  flex-direction: column;
}

h3 {
  writing-mode: horizontal-tb;
  text-orientation: sideways;
  border-left: none;
  border-bottom: solid 3px #F7C73F;
  margin-bottom: 25px;
}

.img-box {
  margin-bottom: 25px;
}

.skills-texts {
  flex-direction: column;
}

.text-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  margin: 10px;
  font-size: 15px;
}

}

@media(max-width: 650px){

  .skills-container {
    flex-direction: row;
  }
  
  h3 {
    flex: 1 1 300px;
    text-align: center;
    font-size: 30px;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    border-left: none;
    border-bottom: solid 2px #F7C73F;
    margin-bottom: 25px;
  }

  img {
    width: 45px;
    margin: 8px;
  }
  
  p {
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
}