<div class="skills-container">

  <h3 class="title">SKILLS</h3>

  <div class="carousel">
    <div class="skills-icon">
      <img src="assets/img/icons/html-5.png">
      <img src="assets/img/icons/css-3.png">
      <img src="assets/img/icons/js.png">
      <img src="assets/img/icons/angular.png">
      <img src="assets/img/icons/bootstrap.png">
      <img src="assets/img/icons/git.png">
      <img src="assets/img/icons/github.png">
      <img src="assets/img/icons/npm.png">    
      <img src="assets/img/icons/webpack.png">  
    </div>
  </div>

  <div class="skills-texts">
      <p>Html</p>
      <p>CSS</p>
      <p>JavaScript</p>
      <p>Angular</p>
      <p>Bootstrap</p>
      <p>Git / Github</p>
      <p>NPM</p>
      <p>Webpack</p>
    </div>
  </div>
