.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #1F1F1F;
  border-top: solid 1px #F7C73F;
  color: white;
}

@media (max-width: 500px){

  .footer-container {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

}