<div class="contacts-container">

  <h3>Contact me <br> for information</h3>

  <form class="form-container"  #form="ngForm" (ngSubmit)="send(form)">
    <h4>MAIL FORM</h4>
    <label>Name:</label>
    <input type="text" name="name" ngModel required>
    <label>Email:</label>
    <input type="email" name="email" ngModel required>
    <label>Text:</label>
    <textarea type="text" name="message" ngModel required></textarea>
    <button type="submit" [disabled]="form.invalid">Send</button>
  </form>

  <div class="links">
    <h4>WEB PROFILE</h4>
    <a href="https://github.com/Cenosillicaphobia" target="_blank"><img src="assets/img/github.png"></a>
    <a href="https://linkedin.com/in/andrea-tommasini" target="_blank"><img src="assets/img/linkedin.png"></a>
  </div>


</div>
