.contacts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #e0e0e0;
  box-shadow:  25px 25px 15px #707070;
  color: #1f1f1f;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  font-size: 35px;
  border-bottom: solid 2px #F7C73F;
}

.form-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #1f1f1f;
  box-shadow:  5px 5px 0px #707070,
             -5px -5px 0px #ffffff;
  padding: 20px;
  color: #e0e0e0;
  transition: 0.5s;
}

label {
  margin-bottom: 5px;
  align-self: flex-start;
  font-size: 20px;
}

button {
  margin-top: 15px;
  width: 50%;
  align-self: center;
  border-radius: 10px;
  background: #1f1f1f;
  box-shadow:  5px 5px 0px #707070,
             -5px -5px 0px #ffffff;
  color: #F7C73F;
  padding: 5px;
  font-size: 15px;
  transition: 0.5s;
}

button:hover {
  background-color: #F7C73F;
  color: #1f1f1f;
  font-size: 20px;
}

button:disabled,
button:hover:disabled {
  color: #1f1f1f;
  background-color: #1f1f1f;
  font-size: 15px;
}

.links {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  5px 5px 0px #707070,
             -5px -5px 0px #ffffff;
  padding: 20px;
  color: #1f1f1f;
  transition: 0.5s;
}

img {
  width: 50px;
  margin-top: 20px;
  transition: 0.25s
}

img:hover {
  width: 60px;
}

@media (max-width: 940px){

  br {
    display: none;
  }

  h3 {
    width: 100%;
    margin-bottom: 20px;
  }

}

@media (max-width: 580px){

  br {
    display:block ;
  }

  h3 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .form-container {
    width: 250px;
  }

  .links {
    width: 50px;
  }

  .links-text {
    font-size: 10px;
  }

  img {
    width: 40px;
    margin-top: 20px;
    transition: 0.25s
  }
  
  img:hover {
    width: 45px;
  }

}

@media (max-width: 450px){

.form-container{
  width: 200px;
}

}