.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #1F1F1F;
  box-shadow:  25px 25px 15px #707070;
  border-top: solid 1px #F7C73F;
  border-left: solid 1px #F7C73F;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

h3 {
  font-size: 4vw;
  border-bottom: solid 2px #F7C73F;
  margin-bottom: 10px;
}

p {
  font-size: 2vw;
  margin-bottom: 25px;
  font-weight: 100;
}

a {
  width: 90%;
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  aspect-ratio: 20/2.5;
  flex-grow: 1;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  border: none;
  font-size: 5vw;
}

button:hover {
  aspect-ratio: 20/5;
}

.travel {
  background-color: skyblue;
  font-family: 'Amatic SC', cursive;
  text-shadow: 2px 2px aliceblue;
}

.earth {
  width: 300px;
  position: absolute;
  top: -10px;
  left: 10%;
  z-index: -1;
}

.airplane {
  width: 150px;
  position: absolute;
  top: 25px;
  right: 15%;
  z-index: -1;
}

.mars {
  font-family: 'Chakra Petch', sans-serif;
  color: orange;
  text-shadow: 2px 2px blueviolet;
}

.background-img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.city-post {
  font-family: 'Fasthand', cursive;
  color: aliceblue;
  text-shadow: 2px 2px rgb(24, 144, 255, 0.7);
}

.more {
  font-size: 3vw;
  background-color: #1F1F1F;
  border: solid 2px #F7C73F;
  color: white;
}

.more:hover {
  aspect-ratio: 20/2.5;
  background-color: #F7C73F;
  color: #1F1F1F;
}

@media(max-width: 650px){

  h3 {
    font-size: 25px;
  }

  button {
    aspect-ratio: 20/3.5;
  }

}
