.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #1F1F1F;
  box-shadow:  25px 25px 15px #707070,
             -25px -25px 15px #ffffff;
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

h3 {
  font-size: 35px;
  border-bottom: solid 2px #F7C73F;
  margin-bottom: 10px;
}

a {
  width: 90%;
}

p {
  margin-bottom: 20px;
  font-weight: 100;
}

button {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  border: none;
}

button:hover {
  height: 150px;
  font-size: 60px;
}

.travel {
  background-color: skyblue;
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
  text-shadow: 2px 2px aliceblue;
}

.earth {
  width: 300px;
  position: absolute;
  top: -10px;
  left: 10%;
  z-index: -1;
}

.airplane {
  width: 150px;
  position: absolute;
  top: 25px;
  right: 15%;
  z-index: -1;
}

.mars {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px aliceblue;
}

.mars-background {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0px;
  z-index: -1;
}

.data {
  background-color: #14213D;
  font-family: 'Outfit', sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px white;
  color: #FCA311;
}

.more {
  background-color: #1F1F1F;
  border: solid 2px #F7C73F;
  color: white;
  font-size: 30px;
}

.more:hover {
  background-color: #F7C73F;
  color: #1F1F1F;
  height: 80px;
  font-size: 45px;
}

