<div class="projects-container">
  <h3>PROJECTS</h3>
  <p>Click to show full project</p>
  <a href="https://travel-with-knowledge-40acf.web.app/" target="_blank"><button class="travel">
    Travel WIth Knowledge
    <img class="earth" src="assets/img/earth.png">
    <img class="airplane" src="assets/img/airplane.png">
  </button></a>
  <a href="https://progetto-angular-f598c.web.app/home" target="_blank"><button class="mars">
    News From Mars
    <img class="mars-background" src="assets/img/mars-background.jpg">
  </button></a>
  <a href="https://ntt-data-124c8.web.app/" target="_blank"><button class="data">Ntt-Data</button></a>
  <a href="https://github.com/Cenosillicaphobia" target="_blank"><button class="more">SEE MORE</button></a>
</div>
