<div class="projects-container">
  <h3>PROJECTS</h3>
  <p>Click to show full project</p>
  <a href="https://travel-with-knowledge-40acf.web.app/" target="_blank"><button class="travel">
    Travel WIth Knowledge
    <img class="earth" src="assets/img/earth.png">
    <img class="airplane" src="assets/img/airplane.png">
  </button></a>
  <a href="https://city-post-4cbfd.web.app" target="_blank"><button class="city-post">
    City Post
    <img class="background-img" src="assets/img/skyline.jpeg">
  </button></a>
  <a href="https://news-from-mars.web.app" target="_blank"><button class="mars">
    News From Mars
    <img class="background-img" src="assets/img/mars-background.jpg">
  </button></a>
  <a href="https://github.com/Cenosillicaphobia" target="_blank"><button class="more">SEE MORE</button></a>
</div>
